<h2>Edit <%=@figure.name%></h2>

<form action="/figures/<%= @figure.slug%>" method="post">
  <input type="hidden" name="_method" value="patch">

  <label for="name">Figure Name</label>
  <input type="text" name="figure[name]" id="name" value="<%=@figure.name%>">


    <%@titles.each do |title|%>
      <lable><%=title.name%></lable>
      <input type="checkbox" id="<%=title.name%>" name="figure[title_ids]" value="<%=title.id%>"<%='checked' if @figure.landmarks.include?(landmark)%>>
    <%end%>
    <br>

  <label>Or add new Title</label>
  <input type="text" name="title_name">
    <br>

    <%@landmarks.each do |landmark|%>
      <lable><%=landmark.name%></lable>
      <input type="checkbox" id="<%=landmark.name%>" name="figure[landmark_ids]" value="<%=landmark.id%>" <%='checked' if @figure.landmarks.include?(landmark)%>>
     <%end%>
    <br>

  <label>Or add new Landmark.</label>
  <input type="text" name="landmark_name">

  <input type="submit" value="Save">
</form>
